<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="grid grid-cols-3">
      <div class="col-start-2 col-span-2">
        <p class="py-2 text-4xl">Welcome to the Online Voting Platform</p>
        <h3 class="text-2xl font-sans-Helveticafont-semibold text-black-600">
          Create an Election and add Voters
        </h3>
      </div>
    </div>
    <br />
    <div class="grid grid-cols-8">
      <div class="col-start-4 col-span-2">
        <p class="py-2 text-1xl">
          New here? <a class="text-green-600" href="/signup">Sign-up</a>
        </p>
        <p class="py-2 text-1xl">
          Account already exists ?
          <a class="text-green-600" href="/login">Sign-in</a>
        </p>
      </div>
    </div>
  </body>
</html>
